@import '~bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";

body {
    background-color: #0a7b5d;
}

h1 {
    color: burlywood;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1em;
}

li,
a {
    text-decoration: none;
}


table {
    td {
        vertical-align: middle;
    }
}

.list-group-item {
    background-color: burlywood;
    color: #0a4d7b;
}

.card {
    background-color: black;
    color: white;
    width: 80%;
    display: flex;
    flex-direction: row;

    img {
        width: 50%;
    }

    h5 {
        font-weight: 900;
        text-transform: uppercase;
        color: white;
    }

    p {
        color: whitesmoke;
    }


    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
    }

}

.scelta-icone {

    padding: 1em;
    gap: 1em;
    background-color: #0a4d7b;

    .list-group-item {
        background-color: #0a4d7b;
        color: burlywood;
    }

    form {
        display: inline;
    }
}